.contact {
    background-color: #172dd1;
    padding: 50px 0;
    text-align: center;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
  }
  
  .contact h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  .contact input,
  .contact textarea,
  .ReCAPTCHA {
    width: 50%;
    padding: 20px;
    outline: none;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .contact textarea {
    resize: none;
  }
  /* Captcha is not required */
  .ReCAPTCHA {
    margin: 0 auto; /* Center the ReCAPTCHA horizontally */
  }
  
  .submitButton {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  